body, html {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    background-color: #1F2833;
}

/* --- HEADER --- */
nav {
    display: flex;
    list-style-type: none;
    width: auto;
    color: #66FCF1;
    margin: 20px auto;
    position: relative;
    left: 0;
    right: 0;
    justify-content: space-evenly;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav img {
    width: 130px;
}

ul {
    list-style-type: none;
}

:visited, :link {
    color: #66FCF1;
    text-decoration: none;
}

/* --- BEST FILM --- */
section#best-film a {
    font-size: 35px;
    padding: 6px;
    padding-left: 12px;
    border: 2px solid #66FCF1;
    border-radius: 50%;
}

section#best-film {
    padding-top: 20px;
    height: 600px;
    margin-bottom: 100px;
    position: relative;
}

section#best-film img {
    width: 728px;
    height: 650px;
}

section#best-film h1 {
    position: absolute;
    top: 200px;
    left: 20px;
    font-size: 50px;
    background-color: #1F283390;
}

section#best-film a {
    position: absolute;
    top: 330px;
    left: 40px;
    background-color: #1F283390;
}

/* --- ALL H1 --- */
h1 {
    color: #66FCF1;
    font-variant: small-caps;
}

/* --- FOOTER --- */
footer img {
    width: 100px;
}

footer {
    display: flex;
    margin: 40px 20px 20px 20px;
    justify-content: space-evenly;

}

footer h1 {
    font-size: 20px;
    font-weight: 500;
}

footer ul {
    list-style-type: circle;
    color: #66FCF1;
    font-size: 15px;

}


* { box-sizing: border-box; }

/* --- POP-UP --- */

.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    animation: fadeIn 1s both;
    z-index: 1;
    
}

.js-modal-close {
    position: fixed;
    top: 20px;
    right: 20px;
}

.modal-wrapper {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh -20px);
    padding: 20px;
    background-color: #1F2833;
    animation: slideFromTop .5s both .1s;
    position: fixed;
}

.modal-wrapper h1 {
    font-size: 220%;
    color: #C5C6C7;
}

.modal-wrapper {
    color: #C5C6C7;
    font-size: small;
}

.modal-wrapper p {
    text-align: justify;
}

.modal-wrapper img {
    width: 50%;
    height: auto;
}

.modal[aria-hidden="true"] {
    animation-name: fadeOut;
}

.modal[aria-hidden="true"] .modal-wrapper {
    animation-name: slideFromBottom;
}

@keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1;}
}

@keyframes slideFromTop {
    from { transform: translateY(-50px);}
    to { transform: translateY(0px);}
}

@keyframes fadeOut {
    from { opacity: 1;}
    to { opacity: 0;}
}

@keyframes slideFromBottom {
    from { transform: translateY(0px);}
    to { transform: translateY(-50px);}
}

/* --- POP-UP'S CLOSE BUTTON --- */
div.modal-wrapper button {
    font-size: 20px;
    font-weight: 700;
    color: #66FCF1;
    padding-top: 3px;
    background-color: #1F2833;
    cursor: pointer;
    border: 2px solid #66FCF1;
    border-radius: 50%;
}

/* --- SLIDESHOW CONTAINER --- */
section {
    height: 320px;
    width: 728px;
    position: relative;
    margin: 0 auto;
}

/* --- SLIDESHOW BUTTONS --- */
.button-carousel {
    width: 100%;
    height: 271px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    
}

.button-carousel button[data-action="slideLeft"] {
    margin-left: -45px;
    font-size: 22px;
    color: #66FCF1;
    padding-top: 2px;
    background-color: #1F2833;
    cursor: pointer;
    border: 1px solid #66FCF1;
    border-radius: 50%;
}

.button-carousel button[data-action="slideRight"] {
    margin-right: -45px;
    font-size: 22px;
    color: #66FCF1;
    padding-top: 2px;
    background-color: #1F2833;
    cursor: pointer;
    border: 1px solid #66FCF1;
    border-radius: 50%;
}

/* --- SLIDESHOW --- */
.carousel {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    left: 0;
    transition: all 1s ease;
    overflow: hidden;
}

.card {
    
    min-width: 200px;
    height: 200px;
    margin-right: 1rem;
    display: inline-block;
    position: absolute;
}

